/****全局表格提替换饿了么***/
@charset "utf-8";
@import "varibles";
.el-table td, .el-table th{
    padding:8px 0 !important;
}
.el-table th>.cell{
    color:#666;
    font-size:13px;
}
.container-main {
    .el-table__header-wrapper{
        overflow: auto;
    }
}
