/*
 *     Public Variable
 */

//      Color   (font、border、icon)
$caColorRed: #d70c18;
$caBorderColor: #bfcbd9;
$caColorBlack: #333333;
$caColorBlue: #1a85e1;
$caColorGray:#dfe6ec;
$caColorLightGray:#dbe3ea;
$caColorDarkBlue: #20a0ff;
$caColorWhite: #fff;
$caColorFontGray: #666;
$caColorWhite:#fff;
// 不同场景使用的操作颜色，来源 饿了么 辅助色
$caColorDanger: #FF4949;
$caColorWarning: #F7BA2A;
$caColorSuccess: #13CE66;
$caColorInfo: #20A0FF;
// table 字体颜色
$caFontColor: #313131;
//   Background Color    (button Bg、)
$caBgColorWhite: #fff;
$caBgColorGray: #f2f2f2;
$caBgColorRed: #d70c18;
$caBgColorLightGray:#ececec;
$caBgColorWathet:#eef1f6;
$caBgColorRed: #d70c18;
$caBgColorDarkGray: #666;
$caBgColorBlue: #389bef;


//  Font Size （font size、）
$caFontSize16: 16px;
$caFontSize14: 14px;
$caFontSize12: 12px;


// Radius （button、）
$caRadiusRound: 50%;
$caRadiusRectangle: 2px;

$caMarginBase: 5px;

